.header {
    overflow: hidden;
    width: 100%;
    height: 50px;
    max-height: 150px;
    border-bottom: solid;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    /*AT LARGE: padding for log and name so they alig
                with image
    */

    @mixin atMedium {
        justify-content: space-around;
    }
    &__name {
        text-align: right;
        margin-right: 8px;
        @mixin atMedium {
            padding-left: 180px;
        }

        @mixin atLarge {}

    &__title {
            font-weight: 300;
            color: red;
            font-size: 1.50rem;
            margin-top: 4px;
        }
        &__subtitle {
            font-weight: 100;
            font-size: .75rem;
            margin-top: -16px;
        }
    }
    &__logo {
        width: 40px;
        font-size: 40px;
        padding-top: 2px;
        margin-left: 8px;
        @mixin atMedium {
            padding-right: 200px;
        }

    }
}