.large-image-section {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    /*TODO: top padding at largr sizes*/
}
.large-image {
    width: 100%;
    text-align: center;
}